.country {
  position: relative;
}

.country__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $desktop_container_width - 20px;
  margin: 0 auto;
  padding: 48px 25px 60px;
}

.country__bookmark-list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 904px;
  margin: 0;
  padding: 0 0 14px;
  border-bottom: 1px solid $color_dark_30;
}

.country__bookmark-item a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-decoration: none;
  color: $color_dark_30;
  transition: color $transition;

  &:hover {
    color: $color_dark_70;
  }
}

.country__bookmark-item--active a,
.country__bookmark-item--active a:hover {
  color: $color_accent_basic;
  cursor: default;
}

.country__description-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 39px 0 0;

  &::before {
    $diff: 40px;
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: auto;
    width: 100vw;
    height: calc(1089px + #{$diff});
    margin-top: 23px;
    background: url("#{$prefix_css_img}europe-map.svg") no-repeat center $diff;
    background-size: 1444px 1089px;
  }
}

.country__description-item {
  display: none;
  padding: 40px 0 0;

  &--active {
    display: block;
  }
}

.country--nojs .country__description-item {
  display: block;
}

@media (max-width: $desktop_container_width - 1) {
  .country__inner {
    width: calc(100vw - 20px);
  }
}

@media (max-width: $desktop_width - 1) {
  .country__inner {
    align-items: center;
    width: 100%;
    padding: 49px 0 60px;
  }

  .country__bookmark-container {
    position: relative;
    align-self: flex-start;
    width: calc(100% - 39px);
    min-height: 41px;
    margin: 0 0 0 39px;
    overflow: hidden;

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: $color_dark_30;
    }
  }

  .country__bookmark-list {
    justify-content: flex-start;
    width: auto;
    margin: 0;
    padding: 0;
    border-bottom: none;
    overflow-x: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      height: 8px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 4px;
      border: 5px solid transparent;
    }

    &:hover,
    &--focus& {
      -ms-overflow-style: scrollbar;
      overflow: -moz-scrollbars-none;
      scrollbar-width: auto;

      &::-webkit-scrollbar {
        width: 0;
      }

      &::-webkit-scrollbar-track {
        background: $color_black_10;
      }

      &::-webkit-scrollbar-thumb {
        background: $color_dark_30;
      }
    }
  }

  .country__bookmark-item {
    padding: 0 99px 0 0;

    &:last-child {
      padding: 0 39px 0 0;
    }
  }

  .country__description-list {
    padding: 0;

    &::before {
      content: none;
    }
  }

  .country__description-item {
    padding: 30px 0 0;
  }
}

@media (max-width: $tablet_width - 1) {
  .country__inner {
    padding: 6px 0 60px;
  }

  .country__bookmark-container {
    width: calc(100% - 15px);
    margin: 0 0 0 15px;
  }

  .country__description-list {
    padding: 5px 0 0;
  }

  .country__description-item {
    padding: 20px 0 0;
  }
}
