.country {
  position: relative;
}

.country__inner {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: $desktop_container_width - 20px;
  margin: 0 auto;
  padding: 48px 25px 60px;
}

.country__bookmark-list {
  list-style: none;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 904px;
  margin: 0;
  padding: 0 0 14px;
  border-bottom: 1px solid $color_dark_30;
}

.country__bookmark-item a {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.6px;
  text-decoration: none;
  color: $color_dark_30;
}

.country__bookmark-item--active a {
  color: $color_accent_basic;
}

.country__description-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 79px 0 0;

  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    right: 0;
    top: auto;
    width: 100vw;
    height: 1089px;
    margin-top: 23px;
    background: url("#{$prefix_css_img}europe-map.svg") no-repeat center 0;
    background-size: 1444px 1089px;
  }
}

.country__description-item {
  display: none;

  &--active {
    display: block;
  }
}

@media (max-width: $desktop_container_width - 1) {
  .country__inner {
    width: calc(100vw - 20px);
  }
}

@media (max-width: $desktop_width - 1) {
  .country__inner {
    //display: flex;
    //flex-direction: column;
    align-items: center;
    //width: $desktop_container_width - 20px;
    //margin: 0 auto;
    padding: 80px 25px 60px;
  }

  .country__bookmark-list {
    //list-style: none;
    //position: relative;
    //display: flex;
    //justify-content: space-between;
    width: 100%;
    //margin: 0;
    //padding: 0 0 14px;
    //border-bottom: 1px solid $color_dark_30;
    overflow: hidden;
  }

  .country__bookmark-item a {
    //font-style: normal;
    //font-weight: 500;
    //font-size: 20px;
    //line-height: 24px;
    //letter-spacing: 1.6px;
    //text-decoration: none;
    //color: $color_dark_30;
  }

  .country__bookmark-item--active a {
    //color: $color_accent_basic;
  }

  .country__description-list {
    //list-style: none;
    //width: 100%;
    //margin: 0;
    //padding: 79px 0 0;

    &::before {
      content: none;
      //position: absolute;
      //z-index: -1;
      //right: 0;
      //top: auto;
      //width: 100vw;
      //height: 1089px;
      //margin-top: 23px;
      //background: url("#{$prefix_css_img}europe-map.svg") no-repeat center 0;
      //background-size: 1444px 1089px;
    }
  }
}

//@media (max-width: $tablet_width - 1) {
//
//}
