.detail-country {
  display: flex;
  justify-content: space-between;
  min-height: 600px;
}

.detail-country__img {
  position: absolute;
  z-index: -1;
  left: calc(50% - 116px);
  top: auto;
  display: flex;
  width: 430px;
  height: 596px;
  margin-top: 2px;

  picture {
    display: flex;
  }

  img {
    display: block;
    width: 100%;
    object-fit: cover;
    object-position: left bottom;
    background-color: $color_gray1;
  }
}

.detail-country__description {
  width: 384px;
  padding: 11px 0 0;
}

.detail-country__description h3 {
  position: relative;
  margin: 0 0 32px;
  padding: 0 0 16px 1px;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: 2px;
  color: $color_dark;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 175px;
    height: 3px;
    background-color: $color_accent_basic;
  }
}

.detail-country__description p {
  margin: 0 0 48px;
  padding: 0 0 0 1px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.6px;
  color: $color_dark_70;
}

.detail-country__btn {
  display: block;
  width: 250px;
  margin: 0;
  padding: 30px 15px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2.5px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: $color_white;
  background-color: $color_accent_basic;
  transition: opacity $transition, background-color $transition;

  &:hover {
    background-color: $color_hover_accent;
  }

  &:active {
    background-color: $color_hover_accent;
    opacity: 0.6;
  }
}

.detail-country__review {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  width: 382px;
}

.detail-country__review-container {
  margin: 114px 0 0;
  padding: 30px 25px 30px 31px;
  background-color: $color_white;
}

.detail-country__review blockquote {
  margin: 0;
}

.detail-country__review h4 {
  position: relative;
  margin: 0 0 20px;
  padding: 0 0 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: 1.5px;
  color: $color_dark;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 68px;
    height: 1px;
    background-color: $color_accent_basic;
  }
}

.detail-country__review-quote {
  margin: 0 0 31px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: $color_dark_70;
}

.detail-country__review-cite {
  display: flex;
  align-items: center;
  margin: 0;
}

.detail-country__review-cite img {
  display: block;
  margin: 0 16px 0 0;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  overflow: hidden;
  background-color: $color_gray1;
}

.detail-country__review-cite cite {
  display: block;
  margin: 5px 0 0;
  font-family: "Poppins", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.1px;
  color: $color_dark;
}

@media (max-width: $desktop_container_width - 1) {
  $max_view: $desktop_container_width;
  $min_view: $desktop_width;

  .detail-country__img {
    $max_left_diff: 116px;
    $min_left_diff: 50px;
    $rate: ($max_left_diff - $min_left_diff) / ($max_view - $min_view);
    $left_diff: "calc((100vw - #{$min_view}) * #{$rate} + #{$min_left_diff})";
    left: calc(50% - #{$left_diff});
  }
}

@media (max-width: $desktop_width - 1) {
  .detail-country {
    flex-direction: column;
    align-items: center;
    background: none;
  }

  .detail-country__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0 15px 30px;
    text-align: center;
  }

  .detail-country__description h3 {
    margin: 0 0 21px;
    padding: 0;
    font-size: 30px;
    line-height: 150%;

    &::after {
      content: none;
    }
  }

  .detail-country__description p {
    margin: 0 0 19px;
  }

  .detail-country__btn {
    min-height: 50px;
    padding: 19px 15px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  .detail-country__review {
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
    min-height: 415px;
  }

  .detail-country__img {
    left: 0;
    top: 0;
    width: 100%;
    height: 415px;
    margin: 0;
  }

  .detail-country__img picture {
    width: 100%;
    height: 100%;
  }

  .detail-country__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .detail-country__review-container {
    width: 382px;
    margin: 80px 0 0;
  }
}

@media (max-width: $tablet_width - 1) {
  .detail-country__description {
    padding: 0 15px 50px;
  }

  .detail-country__description h3 {
    font-size: 24px;
    line-height: 150%;
  }

  .detail-country__description p {
    margin: 0 0 18px;
  }

  .detail-country__btn {
    width: 288px;
  }

  .detail-country__review-container {
    width: 268px;
    margin: 50px 0 0;
    padding: 32px 20px 30px;
    text-align: center;
  }

  .detail-country__review h4 {
    padding: 0 0 12px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;

    &::after {
      left: calc(50% - 68px / 2);
    }
  }

  .detail-country__review-quote {
    margin: 0 0 17px;
  }

  .detail-country__review-cite {
    flex-direction: column;
  }

  .detail-country__review-cite img {
    margin: 0 3px 11px 0;
  }

  .detail-country__review-cite cite {
    margin: 0 4px 0 0;
  }
}
