.form-success__inner {
  display: flex;
  width: 728px;
  margin: auto;
  color: $color_text;
  background: $color_light;
}

.form-success__container {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 444px;
  padding: 50px;
}

.form-success p {
  width: 400px;
  margin: auto;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 170%;
  letter-spacing: 2px;
  text-align: center;
}

.form-success__close-btn {
  position: absolute;
  right: 6px;
  top: 5px;
  width: 50px;
  height: 52px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transition: opacity $transition;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  svg {
    display: block;
  }
}

@media (max-width: $desktop_width - 1) {
  .form-success__inner {
    width: 100%;
  }
}

@media (max-width: $desktop_width - 1) {
  .form-success__container {
    padding: 50px 20px;
  }

  .form-success p {
    width: auto;
  }
}
