.main-block {
  color: $color_white;
  background: $color_dark url("#{$prefix_css_img}main-greece-desktop@1x.jpg") no-repeat center 0;

  @include bg-retina("main-greece-desktop@2x.jpg");
  background-size: cover;
}

.main-block__inner {
  width: $desktop_container_width - 20px;
  margin: 0 auto;
  padding: 185px 76px 297px 713px;
}

.main-block__inner h1 {
  margin: 0 0 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 2px;
}

.main-block__inner p {
  margin: 0 0 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.5px;
}

.main-block__inner a {
  position: relative;
  display: block;
  max-width: 340px;
  margin: 0;
  padding: 30px 90px 30px 41px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_white;
  background-color: $color_accent_basic;
  transition: opacity $transition;

  &::after {
    content: "";
    position: absolute;
    right: 39px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("#{$prefix_css_img}arrow-down.svg") no-repeat 0 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
