.main-block {
  color: $color_white;
  background: $color_dark url("#{$prefix_css_img}main-greece-desktop@1x.jpg") no-repeat center 0;

  @include bg-retina("main-greece-desktop@2x.jpg");
  background-size: cover;
}

.main-block__inner {
  width: $desktop_container_width - 20px;
  margin: 0 auto;
  padding: 185px 76px 297px 713px;
}

.main-block__inner h1 {
  margin: 0 0 28px;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: 2px;
}

.main-block__inner p {
  margin: 0 0 34px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 0.5px;
}

.main-block__inner a {
  position: relative;
  display: block;
  max-width: 340px;
  margin: 0;
  padding: 30px 90px 30px 41px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  align-items: center;
  letter-spacing: 2.4px;
  text-transform: uppercase;
  text-decoration: none;
  color: $color_white;
  background-color: $color_accent_basic;
  transition: opacity $transition;

  &::after {
    content: "";
    position: absolute;
    right: 39px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background: url("#{$prefix_css_img}arrow-down.svg") no-repeat 0 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width: $desktop_container_width - 1) {
  $max_view: $desktop_container_width;
  $min_view: $desktop_width;

  .main-block__inner {
    $max_pl: 713px;
    $min_pl: 537px;
    $rate: ($max_pl - $min_pl) / ($max_view - $min_view);
    width: calc(100vw - 20px);
    padding: 185px 76px 297px calc((100vw - #{$min_view}) * #{$rate} + #{$min_pl});
  }
}

@media (max-width: $desktop_width - 1) {
  .main-block {
    background: $color_dark url("#{$prefix_css_img}main-greece-tablet@1x.jpg") no-repeat center 0;

    @include bg-retina("main-greece-tablet@2x.jpg");
    background-size: cover;
  }

  .main-block__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: $tablet_container_width;
    padding: 60px 151px 83px;
  }

  .main-block__inner h1 {
    margin: 0 0 15px;
    font-size: 30px;
    line-height: 150%;
    letter-spacing: 1.5px;
    text-align: center;
  }

  .main-block__inner p {
    margin: 0 0 10px;
    text-align: center;
  }

  .main-block__inner a {
    max-width: none;
    width: 250px;
    padding: 20px 90px 18px 41px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }
}

@media (max-width: $tablet_width - 1) {
  .main-block {
    background: none;
  }

  .main-block__inner {
    display: block;
    width: 100%;
    padding: 0 0 60px;
  }

  .main-block__inner h1 {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 235px;
    margin: 0 0 20px;
    padding: 30px 1px 30px 8px;
    font-size: 24px;
    line-height: 150%;

    span {
      display: block;
    }

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: $color_dark url("#{$prefix_css_img}main-greece-mobile@1x.jpg") no-repeat center center;

      @include bg-retina("main-greece-mobile@2x.jpg");
      background-size: cover;
    }
  }

  .main-block__inner p {
    margin: 0 0 20px;
    padding: 0 10px 0;
    color: $color_dark;
  }

  .main-block__inner a {
    width: 288px;
    margin: 0 auto;
    padding: 20px 90px 18px 41px;
  }
}
