.offer h3 {
  margin: 0;
}

.offer__price {
  margin: 0;
}

.offer__check-out {
  margin: 0;
}

.offer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

//.offer li {
//}

.offer a {
  display: block;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
