@media (min-width: 0) {
  $next_trip_width: 33.7%;
  $corporate_trip_width: 32.5%;
  $contacts_width: 100% - $next_trip_width - $corporate_trip_width;

  .page-footer {
    margin-top: auto;
  }

  .page-footer__inner {
    list-style: none;
    display: flex;
    width: $desktop_container_width - 20px;
    margin: 0 auto;
    padding: 80px 0 60px 26px;
  }

  .page-footer__inner h3 {
    margin: 0 0 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0.9px;
    color: $color_darkest_darkest;
  }

  .page-footer__next-trip {
    width: $next_trip_width;
  }

  .page-footer__column-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 36px 0 0;
  }

  .page-footer__column-item {
    margin: 0;
  }

  .page-footer__place-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .page-footer__place-item {
    margin: 0 0 9px;
  }

  .page-footer__place-item a {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    letter-spacing: 1.2px;
    color: $color_darkest_darkest_50;
    transition: opacity $transition;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__contacts {
    position: relative;
    width: $contacts_width;
    padding: 0 0 0 90px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: calc(100% - 8px);
      background-color: $color_additional;
    }
  }

  .page-footer__contacts h3 {
    margin: 0 0 23px;
  }

  .page-footer__contact-item {
    margin: 0 0 27px;

    &--phone {
      letter-spacing: 1px;
    }
  }

  .page-footer__contact-item a {
    position: relative;
    display: flex;
    padding: 0 0 0 41px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: $color_accent_basic;
    transition: opacity $transition;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .page-footer__contact-item svg {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .page-footer__contact-item--phone svg {
    fill: transparent;
    stroke: $color_additional;
  }

  .page-footer__contact-item span {
    width: 100%;
    word-wrap: break-word;
  }

  .page-footer__contact-mail--tablet {
    display: none;
  }

  .page-footer__corporate-trip {
    position: relative;
    width: $corporate_trip_width;
    padding: 0 0 0 51px;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 1px;
      height: calc(100% - 8px);
      background-color: $color_additional;
    }
  }

  .page-footer__corporate-trip p {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 175%;
    letter-spacing: 0.9px;
    color: $color_darkest_darkest_50;
  }

  @media (max-width: $desktop_container_width - 1) {
    $max_view: $desktop_container_width;
    $min_view: $desktop_width;

    .page-footer__inner {
      width: calc(100vw - 20px);
    }

    .page-footer__contacts {
      $max_pl: 90px;
      $min_pl: 40px;
      $rate: ($max_pl - $min_pl) / ($max_view - $min_view);
      padding: 0 0 0 calc((100vw - #{$min_view}) * #{$rate} + #{$min_pl});
    }
  }

  @media (max-width: $desktop_width - 1) {
    $next_trip_width: 54.3%;
    $contacts_width: 100% - $next_trip_width;

    .page-footer {
      margin-top: auto;
    }

    .page-footer__inner {
      flex-wrap: wrap;
      width: $tablet_container_width;
      padding: 80px 0 51px;
    }

    .page-footer__next-trip {
      width: $next_trip_width;
      padding: 0 20px 0 0;
    }

    .page-footer__column-list {
      padding: 0 27px 0 0;
    }

    .page-footer__contacts {
      width: $contacts_width;
      padding: 0 0 0 50px;
    }

    .page-footer__contact-mail {
      &--desktop {
        display: none;
      }

      &--tablet {
        display: block;
        letter-spacing: 1px;
      }
    }

    .page-footer__corporate-trip {
      width: 100%;
      margin: 20px 0 0;
      padding: 30px 0 0;
      text-align: center;

      &::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
      }
    }
  }

  @media (max-width: $tablet_width - 1) {
    .page-footer {
      margin-top: auto;
    }

    .page-footer__inner {
      width: calc(100vw - 15px * 2);
      padding: 80px 0 39px;
    }

    .page-footer__next-trip {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    .page-footer__column-list {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0;
    }

    .page-footer__column-item {
      width: 50%;
      margin: 0 0 10px;
    }

    .page-footer__contacts {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding: 31px 0 0;
      text-align: center;

      &::before {
        left: 0;
        top: 0;
        width: 100%;
        height: 1px;
      }
    }

    .page-footer__contact-item:last-child {
      margin: 0 0 20px;
    }

    .page-footer__corporate-trip {
      margin: 0;
      padding: 30px 0 0;
    }
  }
}
