.page-header nav {
  display: flex;
  width: $desktop_container_width;
  margin: 0 auto;
  padding: 37px 21px 25px 23px;
}

.page-header__logo {
  margin: 2px 40px 0 0;
}

.page-header__logo svg {
  display: block;
}

.page-header__menu {
  margin: 6px 0 0 auto;
}

.page-header__menu button {
  display: none;
}

.page-header__menu button:hover {
  cursor: pointer;
}

.page-header__menu ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(53px - 39px) 0 0;
  padding: 0;
}

.page-header__menu li {
  margin: 0 39px 15px 0;
}

.page-header__menu a {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: $color_darkest_darkest;
  transition: $transition;

  &:hover {
    color: $color_accent_basic;
  }

  &:active {
    color: $color_accent_basic;
    opacity: 0.3;
  }
}

.page-header__phone a {
  display: flex;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  white-space: nowrap;
  color: $color_accent_basic;
  transition: $transition;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__phone svg {
  display: block;
  margin: 1px 9px 0 0;
  fill: transparent;
  stroke: $color_pink;
}

@media (max-width: $desktop_container_width - 1) {
  .page-header nav {
    width: calc(100vw - 2 * 15px);
    padding: 37px calc(21px - 15px) 25px calc(23px - 15px);
  }
}

@media (max-width: $desktop_width - 1) {
  .page-header nav {
    position: relative;
    width: 100%;
    min-height: 50px;
    padding: 0;
  }

  .page-header--nojs nav {
    flex-direction: column;
  }

  .page-header__logo {
    margin: 16px 0 0 21px;

    .page-header:not(.page-header--close) & {
      display: none;
    }

    .page-header--nojs &,
    .page-header--nojs:not(.page-header--close) & {
      display: block;
    }
  }

  .page-header__logo svg {
    width: 44px;
  }

  .page-header__menu button {
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    display: block;
    padding: 0;
    background-color: transparent;
    border: none;

    .page-header--close & {
      padding: 10px 21px;
      background-color: $color_accent_basic;
    }
  }

  .page-header__btn-img {
    display: none;

    .page-header--close &--open {
      display: block;
    }

    .page-header:not(.page-header--close) &--close {
      display: block;
    }
  }

  .page-header__menu {
    margin: 0 0 0 auto;
  }

  .page-header__menu ul {
    position: absolute;
    left: 0;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    margin: 0;
    padding: 134px 0 calc(82px - 30px);
    background-color: $color_white;
    transition: $transition;

    .page-header--close & {
      left: -100vw;
    }

    .page-header--nojs & {
      position: static;
      display: block;
    }
  }

  .page-header__menu li {
    margin: 0 0 30px;
  }

  .page-header__menu a {
    position: relative;
    padding: 15px 50px 17px 16px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 1px;
    color: $color_text;
    background-color: $color_light;
  }

  .page-header__menu a::after {
    content: "";
    position: absolute;
    right: 24px;
    top: calc(50% - 12px / 2 - 1px);
    width: 8px;
    height: 12px;
    background: url("#{$prefix_css_img}arrow-right.svg") no-repeat 0 0;
  }

  .page-header__phone {
    display: none;
  }
}

@media (max-width: $tablet_width - 1) {
  .page-header nav {
    padding: 0;
  }

  .page-header__logo {
    margin: 16px 0 0 16px;
  }

  .page-header--close .page-header__menu button {
    padding: 10px;
  }
}
