.prices__inner {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  width: $desktop_container_width - 20px;
  margin: 0 auto;
  padding: 126px 19px 138px 25px;
}

.prices__intro {
  width: 295px;
  padding: 112px 0 0;
}

.prices__intro h2 {
  position: relative;
  margin: 0 0 31px 2px;
  padding: 0 0 17px;
  font-style: normal;
  font-weight: 600;
  font-size: 55px;
  line-height: 90px;
  letter-spacing: 3.3px;
  color: $color_dark;

  &::after {
    content: "";
    position: absolute;
    left: -2px;
    bottom: 0;
    width: 175px;
    height: 3px;
    background: $color_accent_basic;
  }
}

.prices__text {
  margin: 0 0 60px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 170%;
  letter-spacing: 1.2px;
  color: $color_dark_70;
}

.prices__accent-text {
  margin: 0 0 12px;
  padding: 0 0 0 47px;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: 1.6px;
  color: $color_darkest_darkest;
}

.prices__phone-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 0 0 0 46px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 32px;
  text-decoration: none;
  color: $color_black;
  transition: opacity $transition;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.prices__phone-link svg {
  position: absolute;
  left: -4px;
  top: 0;
  display: block;
  width: 30px;
  height: 30px;
  fill: transparent;
  stroke: $color_accent_basic;
}

.prices__list {
  $li_width: 370px;
  $li_mr: 30px;
  $li_mb: 20px;
  list-style: none;
  flex-shrink: 0;
  flex-grow: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: ($li_width + $li_mr) * 2;
  margin: 0 0 $li_mb * -1;
  padding: 0;

  li {
    display: flex;
    width: $li_width;
    margin-right: $li_mr;
    margin-bottom: $li_mb;
  }
}

@media (max-width: $desktop_container_width - 1) {
  $max_view: $desktop_container_width;
  $min_view: $desktop_width;

  .prices__inner {
    width: 100%;
  }

  .prices__list {
    $max_li_width: 370px;
    $min_li_width: 330px;
    $rate_li_width: ($max_li_width - $min_li_width) / ($max_view - $min_view);
    $li_width: "calc((100vw - #{$min_view}) * #{$rate_li_width} + #{$min_li_width})";
    width: calc((#{$li_width} + 30px) * 2);

    li {
      width: #{$li_width};
    }
  }
}

@media (max-width: $desktop_width - 1) {
  $max_view: $desktop_width;
  $min_view: $tablet_width;

  .prices__inner {
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 20px 35px 20px;
  }

  .prices__intro {
    width: 100%;
    padding: 0;
    text-align: center;
  }

  .prices__intro h2 {
    margin: 0 0 20px;
    padding: 0;
    font-size: 30px;
    line-height: 150%;
    text-align: center;
    letter-spacing: 1.8px;

    &::after {
      content: none;
    }
  }

  .prices__text {
    margin: 0 0 33px;
    padding: 0;
    letter-spacing: 1.1px;
  }

  .prices__accent-text {
    margin: 0 0 10px;
    padding: 0;
    font-size: 18px;
    line-height: 34px;
  }

  .prices__phone-link {
    position: static;
    margin: 0 0 30px;
    padding: 0;
    font-size: 18px;
    line-height: 32px;
    text-decoration: underline;
    color: $color_accent_basic;
    transition: opacity $transition color $transition;

    &:hover {
      color: $color_hover_accent;
      opacity: 1;
    }

    &:active {
      opacity: 0.6;
    }
  }

  .prices__phone-link svg {
    display: none;
  }

  .prices__list {
    $max_lr_p: 115px;
    $min_lr_p: 36px;
    $rate_lr_p: ($max_lr_p - $min_lr_p) / ($max_view - $min_view);
    $lr_p: "calc((100vw - #{$min_view}) * #{$rate_lr_p} + #{$min_lr_p})";
    $li_mb: 20px;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 0 $li_mb * -1;
    padding: 0 #{$lr_p} 0;

    li {
      $max_width: 330px;
      $min_width: 288px;
      $rate_width: ($max_width - $min_width) / ($max_view - $min_view);
      $width: "calc((100vw - #{$min_view}) * #{$rate_width} + #{$min_width})";
      display: flex;
      width: #{$width};
      margin: 0 0 $li_mb;
    }
  }
}

@media (max-width: $tablet_width - 1) {
  $max_view: $tablet_width;
  $min_view: $mobile_width;

  .prices__inner {
    padding: 25px 0 20px;
  }

  .prices__intro {
    padding: 0 25px 0;
  }

  .prices__intro h2 {
    font-size: 24px;
    line-height: 150%;
  }

  .prices__text {
    margin: 0 0 18px;
  }

  .prices__phone-link {
    margin: 0 0 40px;
  }

  .prices__list {
    $li_mb: 26px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 0 0 $li_mb * -1;
    padding: 0;

    li {
      $max_width: 430px;
      $min_width: 288px;
      $rate_width: ($max_width - $min_width) / ($max_view - $min_view);
      $width: "calc((100vw - #{$min_view}) * #{$rate_width} + #{$min_width})";
      display: flex;
      width: #{$width};
      margin: 0 0 $li_mb;
    }
  }
}
