@mixin bg-retina($retina-img: "") {
  @media (min-resolution: $retina_dpi), (min-resolution: $retina_dppx) {
    background-image: url("#{$prefix_css_img}#{$retina-img}");
  }
}

@mixin visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
